
/* Asap Condensed */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*Colores institucionales*/
    --verdeInstitucional: #0FBF00;
    --amarilloInstitucional: #FFF101;
    /*Paleta de color*/
    --verdeCadmio: #006633;
    --verdeTexas: #009933;
    --amarilloTitanio: #F3E600;
    /*Colores usados en el Directorio actual*/
    --verdeBotones: #29783A;
    --verdeTitulos: #379945;
    --verdeHeaders: #2D853E;
    --verdeBorde: #BEEB9F;
    --verdeHover: #79BD8F;
    --grisBackground: #FAFAFA;
    --grisTexto: #4D4D4D;
}

* {
    font-family: "Asap Condensed", sans-serif !important;
    font-size: 16px;    
    vertical-align: middle;
    background-color: inherit;    
}

body {
    max-width: 95% !important;
    max-height: 90% !important;
    min-height: 90vh;
    min-width: 95vw;
    vertical-align: middle;
    padding: 0.5em 2em 0.5em 2em;
    margin: auto !important;
    /* border: 1px solid palevioletred; */    
    background: var(--grisBackground) !important;
}

h1,
h2 {
    text-align: center;
    font-size: 2.5em !important;
    margin: 0.5em !important;
    color: var(--verdeTitulos) !important;
    font-weight: bold !important;
}

p {
    text-align: justify;
    font-size: 1em;
    color: var(--grisTexto);
}

a{
    text-decoration: none !important;
    color: var(--verdeBotones) !important;
    letter-spacing: 0.9px !important;
    cursor: pointer !important;
}

a:hover{
    text-decoration: underline !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
